*{
    border: 0;
    margin: 0;
   
}

.container {
    width: 50%;
    height: 100%;
    background-color: yellow;
    margin: 20px auto;
    padding: 40px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    color: rgb(65, 88, 208);
    display: flex;
    font-size: 24px;
}
img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
h3 {
    color: red;
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}
p {
    color: rgb(65, 88, 208);
    font-size: 20px;  
}

/* ul {
    margin-bottom: 30px;
} */
.list {
    display: flex;
    justify-content: space-around;
    color: rgb(65, 88, 208);
    padding-top: 30px;
    font-size: 20px;
}
hr{
    border: 1px solid black;
    margin-top: 10px;
}

#link {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    left: 30%;
    top: 20px;
}

/* mobile */
@media only screen and (max-width: 500px) {
.container{
    max-width: 100%;
}

.header{
    width: 100%;
    display: flex;
  font-size: 15px;
}
img {
    display:none;
}
p {
    color: rgb(65, 88, 208);
    font-size: 16px;  
}
h1{
    font-size: 15px;
}
.list{
    flex-direction: column;
    font-size: 16px;
    padding-top: 10px;
}
.list h3{
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
}
a{
font-size: 13px !important;
margin-top: 15px;
}

}

/* tablet */
@media only screen and (max-width: 980px) {
    .container{
        max-width: 100%;
    }

    .header{
        font-size: 20px;
    }
    h1{
        font-size: 20px;
    } 
    p{
        font-size: 15px;
    }
    .list{
        font-size: 18px;
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
    .list{
        font-size: 16px;
        padding-top: 10px;
    }
    h3{
        margin-bottom: 10px;
    }
}